<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h2>heLLOh2>
    <script src="/javascripts/script.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js" defer ></script>
</head>
<body>
    <!-- <nav class ="nav">

    </nav> -->
    <div class ="main"></div>
        <div class="container">
            <div class ="left">
                <form action="/submit" method="post">
                    <div class="fields">
                        <div class="header">
                            <h2>Get Started Now</h5>
                            <p>Enter your credentials to acces your content</p>
                        </div>
                        <div class="field1">
                            <div>Name:</div>
                            <input class ="input1" type="text" name="name" placeholder="Enter your Name">
                        </div>
                        <div class="field2">
                            <div >E-mail :</div>
                            <input class ="input1" type="email" name="email" placeholder="Enter E-mail">
                        </div>
                        <div class="field3">
                            <div>Password :</div>
                            <input class ="input1" type="password" name="password" placeholder="Enter Password">
                        </div>
                        <!-- <div class="field4">
                            <div>Select Image for Profile :</div>
                            <input class="input1" type="file" name="file" placeholder="select Image for profile">
                        </div> -->
                        <div class="button">
                            <input id="btn" type="submit" value="submit">
                        </div>
                        <div class ="forget">
                            <span>Have an Account?</span>
                                <a href="/login">
                                   Sign in
                                </a>
                            
                        </div>
                    </div>
                </form>
                <!-- <div class ="forget">
                    <span>Have an Account?</span>
                        <a href="#">
                           Sign in
                        </a>
                    
                </div> -->
            </div>
            <div class="right">
               <img class ="img" src="https://media.licdn.com/dms/image/C5612AQEz0hpmCQQ9xA/article-cover_image-shrink_600_2000/0/1645599766887?e=2147483647&v=beta&t=bofydXF-Sf5Q_t5T8xX0Cz1Yuk4uSLma4sUb61WhogY" alt="">
            </div>
        </div>
    </div>
   
    <script src="/javascripts/script.js"></script>
</body>
</html>