<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
    <style>
        .img1{
            border-radius: 10px;
        }
        .main{

        }
    </style>
</head>
<body>
    <div class ="main">
        <div>
            <img class="img1" src="/images/cat.jpeg" alt="Profile image">
        </div>
        <div class="headcon">
            <h1>Welcome,&nbsp;</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, consectetur;
            </p>
        </div>

    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(27, 80, 99);
        }
        .pli{
            border-radius: 10px;
            border:none;
            margin:10px;

        }
        .prob{
            border-radius: 10px;
            border:none;
            margin:10px;
        }
        .te{
            border-radius: 10px;
            border:none;
            margin:10px;
           

        }
        .sub{
            display:flex;
            padding-left:139px;
            
            
        }
        .plink{
            height:25px;
            width:400px;
            border-radius:10px;

        }
        .problem{
            height:25px;
            min-width:400px;
            border-radius:10px;

        }
        .text{
            resize:none;
            height:400px;
            width:400px;
            border-radius:10px;

        }
        .submit{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border:none;
            margin:10px 40px;
            color:white;
            padding:6px 16px;
            background-color: rgb(48, 11, 233);
            border-radius:10px;

        }
        textarea:hover{
            box-shadow: 0px 0px 10px rgb(24, 44, 228);
        }
        input:hover{
            box-shadow: 0px 0px 10px rgb(24, 44, 228);
        }
        .form{
            display:flex;
            justify-content: center;
            background-color: aliceblue;
            height:685px;
            width:600px;
            border-radius: 10px;
            border:none;
            margin-right:30px;

        }
        .heading{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height:80px;
        }
        .main{
            display:grid;
            justify-content: center;
            position:fixed;
        }
        .heading{
            display:flex;
        }
        .img1{
            height:70px;
            width:70px;
            border-radius: 10px;
        }
        .asde{
            background-color:#e11d48;
            border-radius: 10px;
            height: 685px;
            width:840px;
            margin-top:85px;
        }
        .upper{
            display:flex;
        }
        .ahead{
            text-align:center;
        }
        .hr{
            box-shadow:2px 0px 10px rgb(55, 50, 50);
        }
        .lef{
            
            border-radius: 10px;
            margin-left:630px;
            height: 685px;
            width:840px;
        }
        .sol{
            overflow:hidden;
            display:inline-block;
            border-radius: 10px;
            background-color: aliceblue;
            height:300px;
            width:300px;
        }
        .aupper{
            height:57px;
            margin-left:700px;
        }
    </style>
</head>
<body>
    <div class="upper">
        <div class ="main">
            <div class="heading">
                <div><img class="img1" src="/images/cat.jpeg" alt="Profile image"></div>
                <h1>Welcome,&nbsp;<%= user.name%><h1>
            </div>
            <div class="form">
                <form action="/create" method="post">
                    <div class="pli">
                        <div><p> Problem Link :</p></div>
                        <input class="plink" type="text" name="link" placeholder="problem-link">
                    </div>
                    <div class="prob">
                        <div><p> Problem:</p></div>
                        <input class="problem" type="text" name="problem" placeholder="Enter or Paste problem here">
                    </div>
                    <div class="te">
                        <div><p> Solution :</p></div>
                        <textarea class="text" name ="solution" placeholder="Place solution for your problem here"></textarea>
                    </div>
                    <div class="sub">
                        <input class ="submit" type ="submit"  value="submit">
                    </div>
                    
                </form>
            </div>
              
        </div>
        <div class="aside">
            <div class="aupper">
               <h1 class="ahead"> your solved problems</h1>
            </div> 
            <div class="lef">
                <!-- % if(number===0){%>
                    <div> Zero Problems Solved</div>
                % } % -->
                <% user.problems.reverse().forEach((val)=>{  %>
                    <div class="sol">
                        <%console.log(val)%>
                        <p><%=val.problem%></p>
                        <p><%=val.solution%></p>
                    </div>
                <%}) %>
            </div>

        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
