<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class ="main">
        <div class="img1">
            <img src="c:\Users\LENOVO\Documents\cat.jpeg" alt="Profile image">
        </div>
        <div class="headcon">
            <h1>Welcome <%=username%></h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, consectetur;
            </p>
        </div>

    </div> -->
    <h1> hello</h1>
    <script src="/javascripts/script.js"></script>
</body>
</html>